<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{fragments/Head::head}">
    <body>
      <script th:replace="~{fragments/Scripts::script5}"></script>
      <script th:replace="~{fragments/Scripts::script6}"></script>
      <script th:replace="~{fragments/Scripts::script7}"></script>
      <script th:replace="~{fragments/Scripts::script1}"></script>
      <script th:replace="~{fragments/Scripts::script3}"></script>
      <!--<script th:replace="~{fragments/Scripts::script2}"></script>-->

      <div th:replace="~{fragments/Navbar::admin-navbar}"></div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <h2>Products</h2>
            <div class="mb-3 d-flex justify-content-end">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal" onclick="toggleForm()">
                Add New Product
              </button>
            </div>

            <div id="addProductForm" style="display: none">
              <h3>Add a new product</h3>
              <form action="/admin/add-product" th:object="${AddProductForm}" method="post" class="" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="name">Product Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter Product Name" required />
                </div>

                <div class="form-group">
                  <label for="price">Product Price</label>
                  <input type="number" class="form-control" id="price" name="price" placeholder="Enter Product price" required />
                </div>

                <div class="form-group">
                  <label for="description">Product Description</label>
                  <textarea class="form-control" id="description" name="description" placeholder="Enter Product description" required></textarea>
                </div>

                <div class="form-group">
                  <label for="quantity">Product Quantity</label>
                  <input type="number" class="form-control" id="quantity" name="quantity" min="0" required />
                </div>

                <label for="productCategoryId"></label>
                <select class="form-select" name="productCategoryId" id="productCategoryId" required>
                  <option th:each="category : ${categories}" th:value="${category.id}">[(${category.categoryName})]</option>
                </select>
                <input type="text" hidden="hidden" class="form-control" id="oldProductName" name="oldProductName" value="" />

                <br />
                <div class="preview">
                  <img class="rounded-circle text-center" height="110" width="110" id="file-ip-1-preview" alt="Product image" />
                </div>

                <label for="file" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Upload Image </label>
                <input name="file" type="file" id="file" style="display: none" accept="image/*" onchange="showPreview(event);" />

                <br /><br />

                <div class="mb-3 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">Save/Update Product</button>
                </div>

                <br /><br />
              </form>
            </div>

            <table id="productTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Product Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Description</th>
                  <th>Category name</th>
                  <th>Quantity</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Category rows will be dynamically added here using Thymeleaf -->
                <tr th:each="product : ${products}">
                  <td>
                    <img
                      th:src="@{'data:image/jpeg;base64,'+${product.generateBase64Image()}}"
                      alt="Product Image"
                      style="max-width: 100px; max-height: 100px"
                      class="product-image"
                    />
                  </td>
                  <td th:text="${product.productName}" id="productName"></td>
                  <td th:text="${product.price}"></td>
                  <td th:text="${product.description}"></td>
                  <td th:text="${product.getCategory().categoryName}"></td>
                  <td th:text="${product.quantity}"></td>
                  <td th:text="${product.active}"></td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm edit-button">Edit</button>
                    <a th:href="@{'/admin/product-status-update?productId=' + ${product.id}}">
                      <button type="button" class="btn btn-danger btn-sm">Active / Disable</button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <br /><br />
          </div>
          <input th:value="${success}" disabled hidden="hidden" id="productAdded" />
          <input th:value="${message}" disabled hidden="hidden" id="message" />
        </div>
      </div>

      <div th:replace="~{fragments/Footer::admin-footer}"></div>

      <script>
        const editButtons = document.querySelectorAll('.edit-button');

        $(document).ready(function () {
          // Initialize DataTable for products table
          $('#productTable').DataTable({
            order: [], // Disable initial sorting
          });
        });

        document.addEventListener('DOMContentLoaded', function () {
          var productAdded = document.getElementById('productAdded').value;

          if (productAdded != 'null') {
            var message = document.getElementById('message').value;

            if (productAdded === 'true') {
              swal({
                title: 'Success!',
                text: message,
                icon: 'success',
                button: 'close!',
              });
            } else {
              swal({
                title: 'Failure!',
                text: message,
                icon: 'failure',
                button: 'close!',
              });
            }
          }
        });

        function toggleForm() {
          var form = document.getElementById('addProductForm');
          if (form.style.display === 'none') {
            form.style.display = 'block';
          } else {
            form.style.display = 'none';
          }
        }

        editButtons.forEach((button) => {
          button.addEventListener('click', function () {
            var form = document.getElementById('addProductForm');
            const row = this.closest('tr');

            var productName = (document.getElementById('name').value = row.querySelector('td:nth-child(2)').textContent.trim());
            var productPrice = (document.getElementById('price').value = row.querySelector('td:nth-child(3)').textContent.trim());
            var productDescription = (document.getElementById('description').value = row.querySelector('td:nth-child(4)').textContent.trim());
            const categoryText = row.querySelector('td:nth-child(5)').textContent.trim();
            const select = document.querySelector('#productCategoryId');
            const options = Array.from(select.options);
            const optionToSelect = options.find((item) => item.text === categoryText);
            optionToSelect.selected = true;
            var productQuantity = (document.getElementById('quantity').value = row.querySelector('td:nth-child(6)').textContent.trim());
            var oldCategoryName = (document.getElementById('oldProductName').value = row.querySelector('td:nth-child(2)').textContent.trim());

            const imageSrc = row.querySelector('.product-image').getAttribute('src');

            var preview = document.getElementById('file-ip-1-preview');
            preview.src = imageSrc;
            preview.style.display = '';

            form.style.display = 'block';
          });
        });

        function showPreview(event) {
          if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById('file-ip-1-preview');
            preview.src = src;
            preview.style.display = '';
          }
        }
      </script>
    </body>
  </head>
</html>
