<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WholeSale System</title>
    <link rel="stylesheet" th:href="@{/styles/Login.css}" />
  </head>
  <body>
    <div class="login-container">
      <h1>WholeSale System</h1>
      <h2>Sign up</h2>
      <form th:action="@{/signUp}" th:object="${SignUpForm}" method="post" onsubmit="return validateSignUpForm()">
        <!--        <p th:if="${invalidCredentials}" class="error-message">Username or Password is incorrect</p>-->
        <p th:if="${error}" class="error-message"><span th:text="${message}"></span></p>

        <label for="username">Username:</label>
        <input type="text" id="username" name="userName" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="password">Confirm password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        <br /><br />
        <button type="submit">Create account</button>
      </form>
    </div>
    <script th:src="@{/js/login.js}"></script>
  </body>
</html>
